@import "tailwindcss";

/* ROOT */
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: #0f172a;
}

/* GLOBAL SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    #334155,
    #475569,
    #64748b
  );
  border-radius: 999px;
  border: 2px solid #0f172a;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    #475569,
    #64748b,
    #94a3b8
  );
}

/* FIREFOX */
* {
  scrollbar-width: thin;
  scrollbar-color: #475569 #0f172a;
}

/* SMOOTH UI */
* {
  box-sizing: border-box;
}

body,
div,
section,
aside,
main,
button,
a {
  transition:
    background-color 0.25s ease,
    border-color 0.25s ease,
    color 0.25s ease;
}
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}

